@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

:root {
  --White: hsl(0, 0%, 100%);
  --Light-Grey: hsl(217, 12%, 63%);
  --Medium-Grey: hsl(216, 12%, 54%);
  --Dark-Blue: hsl(213, 19%, 18%);
  --Very-Dark-Blue: hsl(216, 12%, 8%);
  --orange: hsl(25, 97%, 53%);
}

* {
  margin: 0;
}

body {
  font-family: "Overpass", sans-serif;
  background-color: var(--Very-Dark-Blue);
  color: var(--White);
  height: 100vh;
  width: 100vw;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* -------- Rating state start -------- */

.card-rating,
.card-thanks {
  background-color: var(--Dark-Blue);
  background-image: linear-gradient(
    to bottom,
    #232933,
    #202631,
    #1d242e,
    #1b212c,
    #181f2a
  );
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 2rem;
  width: 25rem;
  height: 25rem;
}

.favourite {
  border-radius: 100%;
  background-color: var(--Dark-Blue);
  border: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
  color: var(--orange);
  height: 3rem;
  width: 3rem;
  cursor: pointer;
  margin-left: 2rem;
  margin-bottom: 2rem;
}

.text-container {
  margin-left: 2rem;
  margin-right: 2rem;
}

h1 {
  font-size: 24px;
  margin-bottom: 1.5rem;
}

.rating-request,
.text {
  font-size: 15px;
  color: var(--Light-Grey);
  line-height: 1.5;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1.5rem;
}

.btn-rating {
  border-radius: 100%;
  background-color: var(--Dark-Blue);
  border: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
  color: var(--White);
  height: 3rem;
  width: 3rem;
  cursor: pointer;
  margin: 0.5rem;
}

.btn-rating:focus {
  background-color: var(--Light-Grey);
}

.btn-rating:hover {
  background-color: var(--orange);
}

.sub-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit {
  background-color: var(--orange);
  border: none;
  width: 20rem;
  height: 2.5rem;
  border-radius: 2rem;
  color: var(--White);
  cursor: pointer;
  box-shadow: rgba(16, 16, 16, 0.2) 0px 2px 8px 0px;
  margin-top: 1rem;
}

.submit:hover,
.submit:active {
  background-color: var(--White);
  color: var(--orange);
}

.alert {
  display: none;
  font-size: 15px;
  color: var(--Light-Grey);
  margin-top: 1rem;
}
/* -------- Rating state end ---------- */
/* ------- Thank you state start ------- */

.card-thanks {
  display: none;
}

.wrap-thanks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  margin: 2rem 0 2rem 0;
}

.select-container {
  display: flex;
  color: var(--orange);
  background-color: var(--Dark-Blue);
  box-shadow: rgba(16, 16, 16, 0.2) 0px 2px 8px 0px;
  border-radius: 4rem;
  width: 12rem;
  height: 2.2rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.title-thanks {
  margin-bottom: 1rem;
  font-size: 24px;
}

.texting-container {
  text-align: center;
  margin: 0 2rem 0 2rem;
}

/* -------- Thank you state end ------- */
/* --------- Footer Start ---------- */

footer {
  margin-top: 2rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: var(--orange);
  text-decoration: none;
  cursor: pointer;
}

/* --------- Footer ends ---------- */

@media only screen and (max-width: 412px) {
  .card-rating,
  .card-thanks {
    width: 22rem;
    height: 24rem;
    border-radius: 1.5rem;
  }

  .favourite {
    height: 3rem;
    width: 3rem;
    margin: 1rem 0 1.3rem 1.3rem;
  }

  .text-container {
    margin: 0 1.3rem 0 1.3rem;
  }

  .submit {
    width: 19rem;
    height: 2.9rem;
    margin-bottom: 2rem;
  }
}
